# APP_ENV is one of [dev, test, prod]
APP_ENV=dev

# Rust Log Levels: error, warn, info, debug, trace
RUST_LOG=info

# DB
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=db
DB_PORT=5432
DB_NAME=app
## DB connection pool
DB_POOL_MAX_CONNECTIONS=10
DB_POOL_MIN_CONNECTIONS=1
DB_POOL_CONNECT_TIMEOUT_SECS=5
DB_POOL_IDLE_TIMEOUT_SECS=600
DB_POOL_MAX_LIFETIME_SECS=1800

# Web server
WEB_SERVER_RPS=100
WEB_SERVER_TIMEOUT_SECS=30
